services:
  financeiro:
    build: .
    container_name: sistema_financeiro
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - ./uploads:/app/uploads  # Mapeia a pasta de uploads
      - ./dados:/app/dados      # Mapeia a pasta do banco de dados
    env_file:
      - .env
    environment:
      - TZ=America/Sao_Paulo    # Garante o horário correto nos lançamentos
